<html>
  <body>
    <h1>Hello there! Welcome to My Linux Redhat Server hosted on AWS-EC2</h1>
    <h2>You are currently seeing a generated template inside a generated cookbook</h2>

    <h3>Your scheduler is fine yo yo yo</h3>
    <h3>Want to check scheduler</h3>

    <h1>hello from <%= node['fqdn'] %></h1>
  </body>
</html>
